.container{
    width: 200px;
    height:200px;
    test-aligh:center;
}


    .container{
        color:black;
        background-color: yellow;

}

.container{
    color:black;
    test-align:center;


}
.container{
    color:red;
    
}
.container{
    color: aquamarine;
    
}